$font-size:15px;
$font-color:red;

.hello-world-button{
    font-size: $font-size;
    padding: 7px 15px;
    background-color: green;
    color: white;
    outline: none;
}
.hello-world-text{
    font-weight:bold;
    font-size:13px;
    color: $font-color;
}